/*
*
* SPDX-License-Identifier: MIT
*
*/

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
    model = "Woagboard";
    compatible = "woagboard";

    chosen {
        zmk,physical-layout = &default_layout;
        zephyr,code-partition = &code_partition;
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zmk,kscan = &kscan0;
		zmk,battery = &vbatt;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        // Direct GPIO moment
        columns = <36>;
        rows = <1>;

        //  | SW1   | SW2   | SW3   | SW4  | SW5  |   | SW19 | SW20 | SW21 | SW22 | SW23  |
        //  | SW6   | SW7   | SW8   | SW9  | SW10 |   | SW24 | SW25 | SW26 | SW27 | SW28  |
        //  | SW11  | SW12  | SW13  | SW14 | SW15 |   | SW29 | SW30 | SW31 | SW32 | SW33 |
        //                  | SW16  | SW17 | SW18 |   | SW36 | SW35 | SW34 |
        map = <
            RC(0,0)  RC(0,1)  RC(0,2)  RC(0,3)  RC(0,4)   RC(0,18) RC(0,19) RC(0,20) RC(0,21) RC(0,22)
            RC(0,5)  RC(0,6)  RC(0,7)  RC(0,8)  RC(0,9)   RC(0,23) RC(0,24) RC(0,25) RC(0,26) RC(0,27)
            RC(0,10) RC(0,11) RC(0,12) RC(0,13) RC(0,14)  RC(0,28) RC(0,29) RC(0,30) RC(0,31) RC(0,32)
                              RC(0,15) RC(0,16) RC(0,17)  RC(0,35) RC(0,34) RC(0,33)
        >;
    };

    default_layout: default_layout {
        compatible = "zmk,physical-layout";
        display-name = "Woagboard";

        transform = <&default_transform>;
        kscan = <&kscan0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100  94    0  133  (-900)    50   180>
            , <&key_physical_attrs 100  94  127   36  (-300)   177    83>
            , <&key_physical_attrs 100  94  252    0     200   302    47>
            , <&key_physical_attrs 100  94  351   15     200   401    63>
            , <&key_physical_attrs 100  94  450   43     200   500    90>
            , <&key_physical_attrs 100  94  801   43  (-200)   851    90>
            , <&key_physical_attrs 100  94  900   15  (-200)   950    63>
            , <&key_physical_attrs 100  94 1000    0  (-200)  1050    47>
            , <&key_physical_attrs 100  94 1125   36     300  1175    83>
            , <&key_physical_attrs 100  94 1252  133     900  1302   180>
            , <&key_physical_attrs 100  94   15  232  (-900)    65   279>
            , <&key_physical_attrs 100  94  132  135  (-300)   182   183>
            , <&key_physical_attrs 100  94  248  100     200   298   147>
            , <&key_physical_attrs 100  94  348  115     200   398   163>
            , <&key_physical_attrs 100  94  447  143     200   497   190>
            , <&key_physical_attrs 100  94  805  143  (-200)   855   190>
            , <&key_physical_attrs 100  94  904  115  (-200)   954   163>
            , <&key_physical_attrs 100  94 1003  100  (-200)  1053   147>
            , <&key_physical_attrs 100  94 1120  135     300  1170   183>
            , <&key_physical_attrs 100  94 1237  232     900  1287   279>
            , <&key_physical_attrs 100  94   30  331  (-900)    80   378>
            , <&key_physical_attrs 100  94  137  235  (-300)   187   283>
            , <&key_physical_attrs 100  94  245  200     200   295   247>
            , <&key_physical_attrs 100  94  345  215     200   395   263>
            , <&key_physical_attrs 100  94  444  243     200   494   290>
            , <&key_physical_attrs 100  94  808  243  (-200)   858   290>
            , <&key_physical_attrs 100  94  907  215  (-200)   957   263>
            , <&key_physical_attrs 100  94 1007  200  (-200)  1057   247>
            , <&key_physical_attrs 100  94 1115  235     300  1165   283>
            , <&key_physical_attrs 100  94 1222  331     900  1272   378>
            , <&key_physical_attrs 100  94  320  385  (-300)   370   432>
            , <&key_physical_attrs 100  94  434  395    1200   484   442>
            , <&key_physical_attrs 100  94  542  435    2700   592   482>
            , <&key_physical_attrs 100  94  710  435 (-2700)   760   482>
            , <&key_physical_attrs 100  94  818  395 (-1200)   868   442>
            , <&key_physical_attrs 100  94  932  385     300   982   432>
            ;
    };

    vbatt: vbatt {
        compatible = "zmk,battery-nrf-vddh";
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;
        // Index 0 = SW1 = RC(0,0)
        input-gpios
            = <&gpio0 3  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 7  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 4  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio1 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 28 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 17 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 8  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio1 4  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio1 2  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 24 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 22 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 9  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio1 6  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };

    leds {
        compatible = "gpio-leds";
        blue_led: led_0 {
            gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
        };
    };
};

&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

zephyr_udc0: &usbd {
    status = "okay";
};

&adc {
    status = "okay";
};

&flash0 {
	/*
	 * For more information, see:
	 * http://docs.zephyrproject.org/latest/devices/dts/flash_partitions.html
	 */
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		sd_partition: partition@0 {
			label = "softdevice";
			reg = <0x00000000 0x00026000>;
		};
		code_partition: partition@26000 {
			label = "code_partition";
			reg = <0x00026000 0x000c6000>;
		};

		/*
		 * The flash starting at 0x000ec000 and ending at
		 * 0x000f3fff is reserved for use by the application.
		 */

		/*
		 * Storage partition will be used by FCB/LittleFS/NVS
		 * if enabled.
		 */
		storage_partition: partition@ec000 {
			label = "storage";
			reg = <0x000ec000 0x00008000>;
		};

		boot_partition: partition@f4000 {
			label = "adafruit_boot";
			reg = <0x000f4000 0x0000c000>;
		};
	};
};