/*
* SPDX-License-Identifier: MIT
*/

#include "woagboard.dtsi"

/{
    chosen {
		zmk,battery = &vbatt;
		// zephyr,console = &cdc_acm_uart;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;
        // Index 0 = SW19 = RC(0,18)
        input-gpios
            = <&gpio1 0  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 22 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 17 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 26 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 4  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 8  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 6  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 4  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 29  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 31  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 30  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };

    leds {
        compatible = "gpio-leds";
        yellow_led: led_0 {
            gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
        };
    };

    vbatt: vbatt {
        compatible = "zmk,battery-nrf-vddh";
    };
};

&default_transform {
    col-offset = <17>;
};
